.description{
    justify-content: center;
}
.show{
    justify-content: center;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2{
    text-align: center;
    color: white;

}
img {
   padding-left: 620px;
   padding-top: 50px;
   height: 700px;
}

.lala{
    text-align: center;
}

.delete{
 text-align: center;
}