@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    background-color: #333;
}
// ---------------------
// Header
// ---------------------

.header {
    width: 100%;
    height: 50px;
    background-color: black;

    .header-container {
        display: flex;
        align-items: center;
        padding: 0 50px;
        height: 100%;

    }

    .logo-container {
        color: white;
        flex: 2;
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        text-decoration-line: none;
    }

    .menu-container {
        flex: 5;
        color: white;  
    }

    .menu-list {
        display: flex;
        list-style: none;

        .menu-list-item {
            margin-right: 30px;
            font-family: 'Comfortaa', cursive;
        }

        a {
            text-decoration: none;
        }
    }

    .profile-container {
        flex: 2;
        display: flex;
        align-items: center;
        color: violet;
        justify-content: flex-end;

        .profile-picture {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        .profile-text-container {
            margin: 0 20px;
            font-family: 'Comfortaa', cursive;
        }   
    }
}

// ---------------------
// Index.js
// ---------------------

// logout button

.logout {
    margin: 30px;    
}

// new movie form

.content-container {
    font-family:'Comfortaa', cursive;
    width: 50vw;
    height: 35vw;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    background-color: lightgrey;
    box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;   
}

.movieForm {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;

    .movie-info {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin: 20px 0; 
    }

    label {
        display: block;
    }
    
    input {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid var(black);
        border-radius: 5px;
    } 
    
    // see if we can cursor: pointer the submit button
}

// saved movie list

.movie-list-container {
    padding: 20px;
}

.movie-list-wrapper {
    position: relative;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 500px;
    width: 100%;

}

.movie-list-title {
    display: absolute;
    margin: 0 0 60px 0;
    color:darkslategray;
    font-family: 'Comfortaa', cursive;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
    border-radius: 5%;    
}

.movie-list-item:hover .movie-list-item-img {
    border-radius: 5%;
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
   
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-genre,
.movie-list-item:hover .movie-list-item-release-date {
    opacity: 1;
}

.movie-list-item-img {
    transition: 1s all ease-in-out;
    width: 300px;
    height: 470px;
    object-fit: cover;
    border-radius: 5%;
}

.movie-list-item-title {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50px;
    width: 150px;
    opacity: 0;
    transition: 1s all ease-in-out;
    font-family: 'Comfortaa', cursive;
}

.movie-list-item-genre {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 150px;
    opacity: 0;
    transition: 1s all ease-in-out;
    font-family: 'Comfortaa', cursive;

}

.movie-list-item-release-date {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 40%;
    left: 50px;
    width: 150px;
    opacity: 0;
    transition: 1s all ease-in-out;
    font-family: 'Comfortaa', cursive;
}
